
/****************************************************************************************************
 * General
 */
body {
	background: #e2e0ce url(../gfx/book_background.jpg) no-repeat;
	font-family: "Hoefler text", "HoeflerText-Regular", "HoeflerText-Italic", "HoeflerText-Black", "HoeflerText-BlackItalic", "Palatino", serif;
	font-variant-ligatures: common-ligatures;
	font-size: 18px;
	margin: 0;
	padding: 0;
	letter-spacing: 0px;
	color:#390500;
}

article {
	min-height: 1024px;
	width: 768px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

section{}

a {
  color: #b50303;
}

/****************************************************************************************************
 * Typography
 */
p, ul, ol {
font-size: 18px;
font-weight:normal;
line-height: 28px;
text-shadow: 0px 1px 2px #f8f8f8;
background: #000;
-webkit-text-fill-color: rgba(57, 5, 0, 0.8);
-webkit-background-clip: text;
overflow:visible;
margin-right: 190px;
margin-left: 190px;
}

p span.ligature{
	color:#9d0000;
}


p:first-letter {font-size: 110%;  }
p:first-line {font-size: 180%; font-variant:small-caps; line-height:33px;}

p:first-child:first-letter {font-size: 110%;  }

/* image 506 x 232*/
.dropcap_a, .dropcap_t1, .dropcap_t2, .dropcap_t3, .dropcap_s, .dropcap_y {
background: transparent url(../gfx/illuminated.jpg) no-repeat scroll 0 0;
float: left;
font-size: 1px;
text-indent: -9999px !important;
height: 74px;
width: 69px;
margin-right:10px;
}

.dropcap_a {
background-position: -1310px 0px;
-webkit-transform: rotate(180deg);
}

.dropcap_t1 {
background-position: -1751px 0px;
}
.dropcap_t2 {
background-position: -1237px 0px;
}
.dropcap_t3 {
background-position: -1527px 0px;
/*background-position: -1600px 0px;
height: 74px;
width: 75px;*/
}

.dropcap_s {
background-position: -1165px 0px;
}

.dropcap_y {
background-position: -1456px 0px;
}

/* image 506 x 232*/
.dropcap_o{
background: transparent url(../images/1a.png) no-repeat scroll 0 0;
float: left;
font-size: 1px;
text-indent: -9999px !important;
height: 252px;
width: 252px;
margin-left:-110px;
margin-right:10px;
}

/* image 506 x 232*/
.titlelogo{
background: transparent url(../images/cover-image-title.png) no-repeat scroll 0 0;
text-indent: -9999px !important;
height: 106px;
width: 571px;
margin: 10px auto;
}
	
.goldtext p{
text-shadow: 0px 1px 122px #fff;
background: url(../gfx/goldenstraw.png) repeat, #390500;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-animation-name: gold-animation;
-webkit-animation-duration: 40s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
}

@-webkit-keyframes gold-animation {
0% {background-position: left bottom;}
100% {background-position: right bottom;}
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-align: center;
  border: 0;
  margin: 0;
  padding: 0;
}

h1 {
	margin-top: 40px;
  font-size: 30px;
}

h2 {
  font-size: 70px;
  margin: 60px 0 60px 0;
  padding: 5px 0 2px;
}

h3 {
  font-size: 18px;
  margin: 8px 0 30px;
  padding: 5px 0 2px;
}

h4 {
  font-size: 24px;
  margin: 200px 0 20px;
  padding: 5px 0 2px;
}

h5 {
  font-size: 14px;
  margin: 8px 0 30px;
  padding: 5px 0 2px;
}

ul, ol {
  line-height: 1.25em;
}

/****************************************************************************************************
 * Images
 */


img.right {
  float: right;
}

img.left {
  float: left;
}

img.center {
margin-left: auto;
margin-right: auto;
display: block;
}


img.weep {
	position:absolute;
	bottom:0;
	right:0;
	z-index:-1;
}

img.messenger {
	position:absolute;
	top:300px;
	right:0;
	z-index:-1;	
}

/****************************************************************************************************
 * Pages
 */
 


/****************************************************************************************************
 * Book Cover
 */
 
#page.cover img.central {
  display: block;
  margin: 70px auto 50px;
}

#page.cover .footer {
  text-align: center;
}

#page.cover .footer p {
  font-size: 12px;
  padding: 15px 0 5px;
}


/****************************************************************************************************
 * Book Index
 */
#page.index .menu {
  margin: 30px auto;
  width: 670px;
}

#page.index .menu small {
  display: block;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

#page.index .menu ol {
  list-style: none;
  padding: 0;
}

#page.index .menu li {
  position: relative;
  background: transparent url(../gfx/dots-menu.png) repeat-x -1px;
}

#page.index .menu li a .count {
  background: #ffffff url(../gfx/background.jpg);
  padding-left: 3px;
  position: absolute;
  right: 0;
}

#page.index .menu li a {
  background: #ffffff url(../gfx/background.jpg);
  color: #000000;
  text-decoration: none;
  
  -webkit-transition: color 0.4s ease;
	-moz-transition: color 0.4s ease;
	-o-transition: color 0.4s ease;
	transition: color 0.4s ease;
}
#page.index .menu li a:hover {
  color: #b50303;
}

/****************************************************************************************************
 * Chapter
 */
#page.chapter h1 {
  font-size: 42px;
}

#page.chapter #content {
  min-height: 1024px;
  width: 530px;
  
  margin: 120px auto;
}

#page.chapter p,
#page.chapter ol,
#page.chapter ul {
  font-size: 22px;
  text-align: justify;
  text-indent: 1em;
  line-height: 1.6em;
}


/****************************************************************************************************
 * Media queries
 */
@media only screen and (max-device-width : 768px) and (orientation : portrait) {
  /* Rules only for iPad - Portrait */
  
}

@media only screen and (max-device-width : 1024px) and (orientation : landscape) {
  /* Rules only for iPad - Landscape */
  #page.cover img.central {
    display: none;
  }
  
  #page {
    min-height: 768px;
  }
  
  #page.cover .footer {
    margin-top: 240px;
  }
}


